@if( productResource.isLoading() ){
  <div class="flex justify-center items-center h-screen">
    <span class="loading loading-spinner loading-lg"></span>
  </div>
}

<!-- PRODUCTO -->
@if (productResource.hasValue() ) {
  <div class="grid grid-cols-2 sm:grid-cols-2 gap-3 w-full">
     <!-- IMÁGEN DE PRODUCTO -->
      <div class="w-full">
        <product-carousel [images]="productResource.value().images" class="block w-full"/>
      </div>
      <div>
        <h2 class="text-2xl font-bold">
          {{ productResource.value().title }}
        </h2>
        <div class="divider"></div>
        <p>{{ productResource.value().description }}</p>
      </div>
  </div>
}
