
<div class="card bg-base-100 shadow-sm py-3 w-autoopacity-0 animate-fade-in-up hover:scale-105 transition-transform duration-600">
  <figure>
    <img
      [src]="product().images | productImage"
      [alt]="product().title" />
  </figure>
  <div class="card-body">
    <h2 class="card-title font-bold hover:underline cursor-pointer"
    [routerLink]="['/product', product().slug]"
    >
    {{product().title}}</h2>
    <p>{{product().description | slice: 0:70}}...</p>
    <div class="card-actions justify-end">
      <a class="link" style="color: #818C78;" [routerLink]="['/product', product().slug]" > Ver </a>
    </div>
  </div>
</div>
