<h1 class="text-2xl font-bold">Listado de productos</h1>

<h3 class="text-lg">Total de productos:
  <span class="text-white font-bold">{{productsResource.value()?.count}}</span>
</h3>
<div class="divider divider-accent"></div>

<div class="flex gap-2 items-center h-20">
  <app-pagination [pages]="productsResource.value()?.pages ?? 0"/>
  <select class="select select-bordered w-32"
    (change)="productsPerPage.set(+selectPerPage.value)"
    #selectPerPage
  >
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="50">50</option>
    <option value="100">100</option>
  </select>

  <div class="felx flex-1">
    <button class="btn btn-primary" routerLink="/admin/products/new">New product</button>
  </div>
</div>


<!-- LISTADO DE PRODUCTOS -->
<product-table [products]="productsResource.value()?.products ?? []"/>
